<div class="app-container">
  <nav class="navbar">
    <div class="nav-brand">
      <h1>Lab</h1>
    </div>

    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">
        <i class="icon">📝</i>
        Home
      </a>
      <a routerLink="/form" routerLinkActive="active" class="nav-link">
        <i class="icon">📝</i>
        Formularios
      </a>
    </div>
  </nav>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
