<div class="dynamic-form-container">
  <div *ngIf="scheme.length === 0" class="">FormScheme nao foi informado</div>
  <form *ngIf="started">
    <div *ngFor="let row of scheme; trackBy: trackByRowIndex" class="form-row">
      <div
        *ngFor="let field of row; trackBy: trackByFieldName"
        class="form-field"
      >
        <div class="form-label">
          <label [for]="getFieldId(field)"
            >{{ field.label }}
            <span>*</span>
          </label>
        </div>
        <div class="form-component">
          <ng-container
            *ngComponentOutlet="
            componentMap[field.type];
            injector: createFieldInjector(field)
          "
          >
          </ng-container>
        </div>
        <div
          class="form-msg"
          *ngIf="form?.get(field.name)?.invalid && form?.get(field.name)?.touched"
        >
          <span *ngIf="form?.get(field.name)?.errors?.['required']">
            Campo obrigatório
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['minlength']">
            Mínimo de {{
            form?.get(field.name)?.errors?.["minlength"]?.requiredLength }}
            caracteres
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['maxlength']">
            Máximo de {{
            form?.get(field.name)?.errors?.["maxlength"]?.requiredLength }}
            caracteres
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['min']">
            Valor mínimo: {{ form?.get(field.name)?.errors?.["min"]?.min }}
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['max']">
            Valor máximo: {{ form?.get(field.name)?.errors?.["max"]?.max }}
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['pattern']">
            Formato inválido
          </span>
          <span *ngIf="form?.get(field.name)?.errors?.['email']">
            Email inválido
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
